body {
  overflow-x: hidden;
}

.logo .armada_logo {
  width: auto;
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 0;
  transition: all 0.7s ease;
}
.logo .armada_logo:hover {
  transform: scale(1.1);
}
